@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- TODO: Change the welcome message -->
<!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://GitHub.com">GitHub</a>.</p>
</div> -->

<div class="jumbotron">
    <h1>We 💜 GitHub</h1>
    <p class="lead">Checkout free learning material at https://skills.github.com/</p>
</div>
